body {
    background-color: #f8f9fa !important;
}

.post_pet {
    padding: 5vh 0; 
    .input-url{
        select{
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
        }
    }
}