<div class="post_pet">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend input-url">
                        <div class="input-group-text" id="btnGroupAddon">
                            <select name="" id="">
                                <option value="get">GET</option>
                                <option value="post">POST</option>
                            </select>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="URL..." aria-label="Input group example"
                        aria-describedby="btnGroupAddon">
                </div>
            </div>
        </div>
    </div>
</div>
